<h2>Read/Save Other Data Formats</h2>

| Data Format  |        Read       |            Save |
| ------------ | :---------------: | --------------: |
| data         |  `pd.read_fwf()`  |   `df.to_fwf()` |
| ...          |        ...        |             ... |

## **DATA (.data) file format**

A DATA file is a data file used by Analysis Studio, a statistical analysis and data mining program. It contains mined data in a plain text, tab-delimited format, including an Analysis Studio file header.

DATA files are commonly used to store data for offline data analysis when not connected to an Analysis Studio server, but may also be used in online mode.

In [1]:
import pandas as pd

url ='https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'
mpg_data = pd.read_fwf(url,header=None)

mpg_data.head(10)

      0  1      2      3       4     5   6  7                            8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  "chevrolet chevelle malibu"
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          "buick skylark 320"
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         "plymouth satellite"
3  16.0  8  304.0  150.0  3433.0  12.0  70  1              "amc rebel sst"
4  17.0  8  302.0  140.0  3449.0  10.5  70  1                "ford torino"
5  15.0  8  429.0  198.0  4341.0  10.0  70  1           "ford galaxie 500"
6  14.0  8  454.0  220.0  4354.0   9.0  70  1           "chevrolet impala"
7  14.0  8  440.0  215.0  4312.0   8.5  70  1          "plymouth fury iii"
8  14.0  8  455.0  225.0  4425.0  10.0  70  1           "pontiac catalina"
9  15.0  8  390.0  190.0  3850.0   8.5  70  1         "amc ambassador dpl"

In [2]:
mpg_data.columns = ["mpg", "cylinders", "displacement", "horsepower",
                    "weight", "acceleration", "model_year", "origin",
                    "car_name"]
mpg_data.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,"""ford torino"""
5,15.0,8,429.0,198.0,4341.0,10.0,70,1,"""ford galaxie 500"""
6,14.0,8,454.0,220.0,4354.0,9.0,70,1,"""chevrolet impala"""
7,14.0,8,440.0,215.0,4312.0,8.5,70,1,"""plymouth fury iii"""
8,14.0,8,455.0,225.0,4425.0,10.0,70,1,"""pontiac catalina"""
9,15.0,8,390.0,190.0,3850.0,8.5,70,1,"""amc ambassador dpl"""